<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="https://media.licdn.com/dms/image/C4D03AQGuvC7fpp5yLQ/profile-displayphoto-shrink_800_800/0/1668006976995?e=2147483647&v=beta&t=_uZKpacDVV8gd-gBXu543HHHK4kCsoTYM9ZvThaE2_U">
    </div>
    
    {{>footer}}
</body>

</html>